* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  box-sizing: border-box;
}

.container {

  width: 100%;
  min-height: 100vh;
  background: linear-gradient( #9b99 , #b9b);

}

h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 520px;
  background: darkgray;
  margin-left: 500px;
  margin-top: 200px;
  padding: 30px 30px 30px;
  border-radius: 5%;

}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #595959;
  border-radius: 30px;

  

}


form {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  text-align: center;
}

.upload{
  margin-left: -10px;

}

li {

  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

button {

  margin-left: 10px;
}


input {
  margin-left: 20px;
  margin-right: 20px;


}


.container {
  text-align: left;
  left: -10;
  right: 0;

}
